#main-center
{
    width: 600px;
    font-size: 15px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
}
#header
{
    background-color: #181818;
    color: #E8E8E8;
    text-align: right;
    font-size: 10px;
    height: 50px;
}
#content
{
    background-color: #669999;
    min-height: 400px;
}
#footer
{
    background-color: #181818;
    height: 50px;
}