#main-center
{
    width: 600px;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
#header
{
    width: 600px;
    min-height: 50px;
    text-align: right;
    background-color: #181818;
    color: #E8E8E8;
    font-size: 10px;
    padding: 5px;
}
#content
{
    width: 600px;
    min-height: 400px;
    padding-top: 30px;
    text-align: center;
    color: black;
    font-size: 15px;
    background-color: #669999;
}
#footer
{
    width: 600px;
    min-height: 50px;
    color: black;
    font-size: 15px;
    text-align: center;
    background-color: #181818;
    padding: 5px;
}